<!DOCTYPE html>
<html lang="en">
<% include ../partials/_head %>
<body>
  <% include ../partials/_nav %>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <h1>Simplify your links</h1>
        <form action="/urls" method="POST">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" class="form-control form-control-lg" placeholder="https://">
          <div class="row justify-content-md-center">
            <input class="btn-special btn btn-primary btn-lg" type="submit" value="Submit">
          </div>
        </form>
      <div class="col col-lg-3">
    </div>
  </div>
</body>
</html>