<!DOCTYPE html>
<html lang="en">
  <% include ../partials/_head %>
<body>
  <% include ../partials/_header %>
  <% include ../partials/_nav %>
  <h1>ShortURL:<%= shortURL %></h1>
  <form method="POST" action="/urls/<%= shortURL %>">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto">
          <input name='longURL' type="text" class="form-control" placeholder="Change ther URL" value='<%=  longURL %>'>
        </div>
        <div class="col-6 col-sm-4">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
</body>
</html>