.dashboard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 100px 0;
  outline: none;
  background-color: $grey-shade;

  &__text {
    max-width: 600px;
    margin: 0 auto;
    h2 {
      font-size: 2.2rem;
    }
    p {
      font-family: Roboto, sans-serif;
      font-size: 1.3rem;
    }
  }

  &__img {
    box-shadow: 0 0px 80px 10px rgba(0, 0, 0, 0.08);
    width: 50%;
  }
}
