.overview {
  background: url(/images/photos/section-bg-min.jpg) no-repeat
    bottom/cover;
  padding: 10rem 0;
  background-attachment: fixed;

  &__text {
    display: grid;
    grid-template-columns: 1fr minmax(270px, 1170px) 1fr;
    text-align: center;
    margin: 0 auto 50px;
    color: white;
    line-height: 1.6;
    h3 {
      font-size: 2.5rem;
      color: white;
    }

    p {
      font-family: Nunito, sans-serif;
    }

    > * {
      grid-column: 2;
    }
    > a {
      justify-self: center;
    }
  }
}
